*{
    margin: 0;
    padding: 0;
}

/* Banner section */
.banner-section {
    /* height: 100vh; */
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    width: 708px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;

}

.banner-desc {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0;

}

.banner-btn {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}

.banner-right {
    width: 635px;
    height: 810px;
    padding-top: 59px;
}
